<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>medsy</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Medsy needs access to your microphone so you can speak to Medsy AI.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Medsy needs speech recognition to transcribe your voice messages to Medsy AI.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Medsy sends medication reminder notifications so you never miss a dose.</string>
</dict>
</plist>
